.round {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round .modal-container {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.round .modal-container input {
  margin: 10px 0;
}
